# Maven

trigger:
- master

resources:
  repositories:
  - repository: struts2-rce # https://github.com/CMYanko/struts2-rce
    type: github
    #You will need to change or match this endpoint configuration
    endpoint: GitHubService
    name: CMYanko/struts2-rce

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: struts2-rce
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'install'
- task: NexusIqPipelineTask@1
  inputs:
    #You will need to change or match this nexusIqService configuration
    nexusIqService: 'NexusIQService'
    applicationId: 'struts2-rce'
    stage: 'Build'
    scanTargets: '**/*'
